{% extends 'base.html.twig' %}

{% block title %}Liste des Sorties{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Liste des Sorties</h1>
        <form method="GET" action="{{ path('app_home') }}" class="mb-4">
            <div class="input-group mb-3">
                <input type="text" name="search" class="form-control" placeholder="Rechercher par nom" value="{{ app.request.get('search') }}">
                <select name="campus" class="form-select">
                    <option value="">Tous les campus</option>
                    {% set campuses = sorties|map(sortie => sortie.sortieCampus.nom)|reduce((carry, item) => item in carry ? carry : carry|merge([item]), []) %}
                    {% for campus in campuses %}
                        <option value="{{ campus }}" {% if campus == app.request.get('campus') %}selected{% endif %}>{{ campus }}</option>
                    {% endfor %}
                </select>

                <input type="date" name="date_debut" class="form-control" placeholder="Date de début" value="{{ app.request.get('date_debut') }}">
                <input type="date" name="date_fin" class="form-control" placeholder="Date de fin" value="{{ app.request.get('date_fin') }}">
                <div class="form-check">
                    <input type="checkbox" name="created_by_me" class="form-check-input" id="created_by_me" {% if app.request.get('created_by_me') %}checked{% endif %}>
                    <label class="form-check-label" for="created_by_me">Afficher uniquement mes sorties</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="inscrit" class="form-check-input" id="inscrit" {% if app.request.get('inscrit') %}checked{% endif %}>
                    <label class="form-check-label" for="inscrit">Afficher uniquement les sorties auxquelles je suis inscrit</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" name="non_inscrit" class="form-check-input" id="non_inscrit" {% if app.request.get('non_inscrit') %}checked{% endif %}>
                    <label class="form-check-label" for="non_inscrit">Afficher uniquement les sorties où je ne suis pas inscrit</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="show_completed" class="form-check-input" id="show_completed" {% if app.request.get('show_completed') %}checked{% endif %}>
                    <label class="form-check-label" for="show_completed">Afficher les sorties terminées</label>
                </div>

                <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
            </div>
        </form>

        <table class="table table-striped table-hover">
            <thead class="table-header">
            <tr>
                <th>Nom</th>
                <th>Date Heure Début</th>
                <th>Durée</th>
                <th>Date Limite Inscription</th>
                <th>Nb Inscription Max</th>
                <th>Infos Sortie</th>
                <th>Organisateur</th>
                <th>État</th>
                <th>Inscription</th>
                <th>Participants</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                {% if sortie.sortieEtat and sortie.sortieEtat.libelle == 'Ouverte' or sortie.sortieEtat.libelle == 'Annulée' %}
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.duree|date('H:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.nbInscriptionMax }}</td>
                    <td>{{ sortie.infosSortie|length > 50 ? sortie.infosSortie|slice(0, 50) ~ '...' : sortie.infosSortie|raw}}</td>
                    <td>{{ sortie.sortieParticipant.nom }} {{ sortie.sortieParticipant.prenom }}</td>
                    <td>
                    <span class="badge {{ sortie.sortieEtat.libelle == 'Ouverte' ? 'badge-success' : 'badge-warning' }}">
                        {{ sortie.sortieEtat.libelle }}
                    </span>
                    </td>
                    <td>
                        {% if sortie.participants.contains(app.user) %}
                            <span class="badge badge-info">Inscrit</span>
                        {% elseif sortie.sortieEtat.libelle == 'Ouverte' %}
                            <span class="badge badge-primary">Non inscrit</span>
                        {% else %}
                            <span class="badge badge-danger">Inscription fermée</span>
                        {% endif %}
                    </td>
                    <td>{{ sortie.participants|length }} / {{ sortie.nbInscriptionMax }}
                        {% for participant in sortie.participants %}
                            <p>
                                <a href="{{ path('app_participant_show', {id: participant.id}) }}">
                                    {{ participant.nom }} {{ participant.prenom }}
                                </a>
                            </p>
                        {% else %}
                            <p>Aucun participant</p>
                        {% endfor %}
                    </td>
                    <td>
                        <div class="action-buttons">
                            <a href="{{ path('sortie_show', {id: sortie.id}) }}" class="btn btn-view">Afficher</a>

                            {% if sortie.sortieParticipant.id == app.user.id or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin', {crudAction: 'edit', crudControllerFqcn: 'App\\Controller\\Admin\\SortieCrudController', entityId: sortie.id}) }}" class="btn btn-edit">Éditer</a>
                                <form method="post" action="{{ path('sortie_delete', {id: sortie.id}) }}" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette sortie ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
                                    <button class="btn btn-delete" type="submit">Supprimer</button>
                                </form>
                                <!-- Nouveau bouton Annuler -->
                                {% if sortie.sortieEtat.libelle != 'Annulée' %}
                                    <form method="post" action="{{ path('sortie_annuler', {id: sortie.id}) }}" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir annuler cette sortie ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('annuler' ~ sortie.id) }}">
                                        <button class="btn btn-annuler" type="submit">Annuler</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>


                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11" class="text-center">Aucune sortie disponible</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
