{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row -spacing-a">
            <div class="col-md-12">
                <h1>Modifier mon profil</h1>
            </div>
        </div>
        <div class="row -spacing-a">
            <div class="col-md-8">
                <div class="row -spacing-b">
                    <div class="col-md-12">
                        
                        {% if participant.photo %} 
                        <img src="{{ asset('uploads/images/' ~ participant.photo) }}" style="width:200px;" />
                        {% else %}
                        <img src="{{ asset('images/profile-default.jpg') }}" style="width:200px;" />
                        {% endif %}
                        
                        {{ form_start(form) }}

                        {{ form_widget(form) }}

                        <button type="submit" class="btn btn--green">{{ button_label|default('Mettre à jour') }}</button>
                        <p class="mt-3">
                            <a href="{{ path('app_home') }}">Accueil</a>
                        </p>
                        <p class="mt-3">
                            {{ include('participant/_delete_form.html.twig') }}
                        </p>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .col-md-12.text-right {
            margin-top: 40px;
        }

        h1 {
            text-transform: uppercase;
            color: black;
            font-size: 2.5rem;
        }

        h5 {
            text-transform: uppercase;
            color: black;
            font-size: 1.563rem;
        }

        .-spacing-a {
            margin-top: 3.125rem;
        }
        .-spacing-b {
            margin-top: 1.875rem;
        }

        .table-profile {
            width: 100%;
            border-collapse: collapse;
        }

        .table-profile td {
            padding: 0.5rem;
            vertical-align: top;
        }

        .table-profile td:first-child {
            width: 150px;
            font-weight: bold;
            color: black;
        }

        .table-profile td:last-child {
            color: black;
        }

        .btn {
            border: none;
            background: #FFF;
            border-radius: 0;
            padding: 0.875rem 0.625rem;
            cursor: pointer;
        }


        .btn--green {
            background: #6A0DAD;
            color: #FFF;
        }
    </style>
{% endblock %}
